.songContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.title h1 {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.selectSpace {
    display: flex;
    margin: auto;
}

body {
    background-image: url("https://yt3.ggpht.com/ytc/AKedOLSMLjxa4BBd_EcwRTL2o8jB_iwVQsl_5z9u6dnE=s900-c-k-c0x00ffffff-no-rj");
}